// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:

.status_tag.active {
  background: #8daa92;
}
.status_tag.new {
  background: #e29b20;
}
.status_tag.expired {
  background: #d45f53;
}

//
.campo5{
  width: 5% !important;
}
.campo10{
  width: 10% !important;
}
.campo12{
  width: 12% !important;
}
.campo15{
  width: 15% !important;
}

.campo18{
  width: 20% !important;
  margin-left: 18px !important;
}

.campo20{
  width: 20% !important;
}
.campo25{
  width: 25% !important;
}
.campo30{
  width: 30% !important;
}
.campo40{
  width: 40% !important;
}
.campo50{
  width: 50% !important;
}
.campo60{
  width: 60% !important;
}
.campo70{
  width: 70% !important;
}
.campo80{
  width: 80% !important;
}
.campo100{
  width: 100% !important;
}

.width50per {
  width: 50% !important;
}

.div-separar{
  width: 100%;
  border-top: #e4e4e4 solid 1px;
  margin-top: 15px;
}